h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table, tr, td {
    border: 2px solid black;
}